@inherits LayoutComponentBase
@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@* TODO: Link this with an event handler injected here: https://stackoverflow.com/questions/64299530/how-to-get-reference-to-the-blazor-mainlayout-from-a-child-component*@
<AudioFxPlayer @ref="_audioFxPlayer"/>


@code {
    private AudioFxPlayer? _audioFxPlayer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _audioFxPlayer = new AudioFxPlayer();
    }
}