@using ProjectPioneer.Blazor.Pages.Components;
@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Services

@inject IAudioPlayer BlazorAudioPlayer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjectPioneer.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="CleanupAudio">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Character/HeroCreator" @onclick="PlayHeroCreatorMelody">
                <span class="oi oi-home" aria-hidden="true"></span> Hero Creator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Game/MainGame" @onclick="CleanupAudio">
                <span class="oi oi-home" aria-hidden="true"></span> Main Game Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Adventure/ShopPage" @onclick="PlayShopMelody">
                <span class="oi oi-home" aria-hidden="true"></span> The Shop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Adventure/QuestLogPage" @onclick="PlayQuestPageMelody">
                <span class="oi oi-home" aria-hidden="true"></span> Quest Center
            </NavLink>
        </div>
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="" @onclick="PlayHeroCreatorMelody"> *@
        @*         <span class="oi oi-home" aria-hidden="true"></span> Test Sound *@
        @*     </NavLink> *@
        @* </div> *@
    </nav>
</div>

@foreach (var audioFx in BlazorAudioPlayer.AudioFxPlayers)
{
    <AudioFxPlayer @ref="audioFx.AudioFxComponent" />
}

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CleanupAudio()
    {
        BlazorAudioPlayer.Cleanup();
    }
    
    private async Task PlayHeroCreatorMelody()
    {
        await PlayMenuMelody(AudioFxHelper.Fx_Calm_Url);
    }

    private async Task PlayShopMelody()
    {
        await PlayMenuMelody(AudioFxHelper.Fx_Calm_2_Url);
    }
    
    private async Task PlayQuestPageMelody()
    {
        await PlayMenuMelody(AudioFxHelper.Fx_Calm_3_Url);
    }

    private async Task PlayMenuMelody(string audioFx)
    {
        CleanupAudio();
        await BlazorAudioPlayer.PlaySoundAsync(audioFx);
    }
}
