@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;
@using ProjectPioneer.Blazor.Services

@inject IAudioPlayer BlazorAudioPlayer

<button type="@ButtonType" 
        class="btn @ButtonClass" 
        disabled="@Disabled"
        @onclick="@(async () => 
                  {
                      await ClickCallback.InvokeAsync(ClickCallbackParameter);
                      await PlayClickSound();
                  })">
    @ButtonText
</button>

<AudioFxPlayer @ref="_audioFxPlayer"/>
@foreach (var audioFx in BlazorAudioPlayer.AudioFxPlayers)
{
    <AudioFxPlayer @ref="audioFx.AudioFxComponent" />
}

@code {

    [Parameter]
    public string ButtonType { get; set; } = "button";

    [Parameter]
    public string? ButtonClass { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string? ButtonText { get; set; }
    
    [Parameter]
    public EventCallback<string> ClickCallback { get; set; }

    [Parameter]
    public string? ClickCallbackParameter { get; set; }

    [Parameter]
    public string ClickSound { get; set; } = AudioFxHelper.Fx_Info_Url;

    private AudioFxPlayer? _audioFxPlayer;

    protected override void OnInitialized()
    {
        _audioFxPlayer = new AudioFxPlayer();
    }

    private async Task PlayClickSound()
    {
        await BlazorAudioPlayer.PlaySoundAsync(ClickSound).ConfigureAwait(false);
    }
}