@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;
@using ProjectPioneer.Blazor.Utility

<button type="@ButtonType" 
        class="btn @ButtonClass" 
        disabled="@Disabled"
        @onclick="@(async () => 
                  {
                      await ClickCallback.InvokeAsync(ClickCallbackParameter); 
                      await PlayClickSound(); 
                  })">
    @ButtonText
</button>

<AudioFxPlayer @ref="_audioFxPlayer"/>

@code {

    [Parameter]
    public string ButtonType { get; set; } = "button";

    [Parameter]
    public string? ButtonClass { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string? ButtonText { get; set; }
    
    [Parameter]
    public EventCallback<string> ClickCallback { get; set; }

    [Parameter]
    public string? ClickCallbackParameter { get; set; }

    private AudioFxPlayer? _audioFxPlayer;

    protected override void OnInitialized()
    {
        _audioFxPlayer = new AudioFxPlayer();
    }

    private async Task PlayClickSound()
    {
        await _audioFxPlayer!.PlaySound(AudioFxHelper.Fx_Info_Url, 1000);
    }
}