@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

<button class="btn @ButtonClass">
    TEST
</button>


@code {

    [Parameter]
    public string ButtonClass { get; set; }

}