@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

@inject ProjectPioneer.Systems.IGame ProjectPioneerGame
@* <h3>Hero Display</h3> *@

Name: @Hero?.Name
<br />
Credits: @ProjectPioneerGame.GetCredits()
<br />
Exp: @Hero?.Exp / @Hero?.GetRequiredExp()
<br />
<ProjectPioneer.Blazor.Pages.Elements.AnimatedProgressBar @ref=_animatedQuestBar
    CurrentValue=@Hero!.Exp
    MaxValue=@Hero!.GetRequiredExp()
    ShowIconsBelowBar="false" />
<br />
<HeroStatsTotal Hero="@Hero" />
<br />

<InfoTable DisplayName="@($"Job: {Hero?.Job.Name}")" DisplayStats="@Hero?.Job.Stats" ButtonClass="btn btn-secondary" />
<InfoTable DisplayName="@($"Implant: {Hero?.Implant.Name}")" DisplayStats="@Hero?.Implant.Stats" ButtonClass="btn btn-info" />

<EquippedItemDisplay EquippedItem="@Hero?.EquippedWeapon" EquippedItemType="Weapon" ColorTheme="bg-primary" />
<EquippedItemDisplay EquippedItem="@Hero?.EquippedArmor" EquippedItemType="Armor"  ColorTheme="bg-success" />
<EquippedItemDisplay EquippedItem="@Hero?.EquippedAura" EquippedItemType="Aura"  ColorTheme="bg-info" />

@code {
    [Parameter]
    public IHero? Hero { get; set; }

    private AnimatedProgressBar? _animatedQuestBar;

    protected override void OnInitialized()
    {
        _animatedQuestBar = new AnimatedProgressBar();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await _animatedQuestBar?.AddValue()!;
        }
    }
}
