@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

<h3>Hero Display</h3>

Name: @Hero?.Name
<br />
Exp: @Hero?.Exp / @Hero?.GetRequiredExp()
<br />
<ProjectPioneer.Blazor.Pages.Elements.AnimatedProgressBar @ref=_animatedQuestBar
    CurrentValue=@Hero!.Exp
    MaxValue=@Hero!.GetRequiredExp() />
<br />
<p class="bg-primary" style="width: 50%; --bs-bg-opacity: .5">Job: @Hero?.Job.Name</p>
<p class="bg-success" style="width: 50%; --bs-bg-opacity: .5">Implant: @Hero?.Implant.Name</p>

@* <p class="bg-secondary" style="width: 50%; --bs-bg-opacity: .5">----</p> *@

@* <p class="bg-primary" style="width: 50%; --bs-bg-opacity: .5">Equipped Weapon:</p> *@
<EquippedItemDisplay EquippedItem="@Hero?.EquippedWeapon" EquippedItemType="Weapon" ColorTheme="bg-primary" />
@* <p class="bg-success" style="width: 50%; --bs-bg-opacity: .5">Equipped Armor:</p> *@
<EquippedItemDisplay EquippedItem="@Hero?.EquippedArmor" EquippedItemType="Armor"  ColorTheme="bg-success" />
@* <p class="bg-info" style="width: 50%; --bs-bg-opacity: .5">Equipped Aura:</p> *@
<EquippedItemDisplay EquippedItem="@Hero?.EquippedAura" EquippedItemType="Aura"  ColorTheme="bg-info" />

@code {
    [Parameter]
    public IHero? Hero { get; set; }

    private AnimatedProgressBar? _animatedQuestBar;

    protected override void OnInitialized()
    {
        _animatedQuestBar = new AnimatedProgressBar();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await _animatedQuestBar?.AddValue()!;
        }
    }
}
