@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

@inject IJSRuntime JSRuntime
@inject ProjectPioneer.Systems.IGame ProjectPioneerGame
@inject ILogger<SaveLoadMenu> Logger

<h3>Save Load Menu</h3>

<table>
    <tr>
        <td>
            <StandardButton ButtonClass="btn-primary"
                            ButtonText="Save"
                            ClickCallback="@(_ => Save())"
                            ClickCallbackParameter=""/>
        </td>
        <td>
            <StandardButton ButtonClass="btn-success"
                            ButtonText="Load"
                            ClickCallback="@(_ => Load())"
                            ClickCallbackParameter=""/>
        </td>
    </tr>
</table>

@code {
    [Parameter]
    public EventCallback<string> ClickCallback { get; set; }

    private async void Save()
    {
        string savedData = ProjectPioneerGame.SaveData();
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "saveData", savedData);
        await ClickCallback.InvokeAsync();
    }

    private async void Load()
    {
        string saveDataString = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "saveData");
        ProjectPioneerGame.LoadSavedData(saveDataString);
        await ClickCallback.InvokeAsync();
    }
}
