@using ProjectPioneer.Systems.Statistics;
@*<h3>StatsSimple</h3>*@

@foreach (var stat in Stats.GetStatsAsList())
{
    if(ShowLevel || !stat.Contains("Level"))
    {
        @stat
        <br />
    }
}

@code {
    [Parameter]
    public Stats Stats { get; set; }

    [Parameter]
    public bool ShowLevel { get; set; }
}
