@page "/Adventure/ShopPage"

@using ProjectPioneer.Blazor.Pages.Elements
@using ProjectPioneer.Blazor.Pages.Components;

@inject NavigationManager NavManager
@inject ILogger<ShopPage> Logger
@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

@* <h3>ShopPage</h3> *@

<h2>Credits: <span style="color: green">@ProjectPioneerGame.Inventory.Credits</span></h2>

<table class="border border-3 border-dark rounded" style="width: 75%">
    <tr>
        <td style="width: 50%">
            <ShopDisplay @ref="_shopComponent" ShopCallback="@Callback" />
        </td>
    </tr>
    <tr>
        <td style="width: 50%">
            <InventoryDisplay @ref="_inventoryComponent" InventoryCallback="@Callback" />
        </td>
    </tr>
</table>


@code {
    private InventoryDisplay? _inventoryComponent;
    private ShopDisplay? _shopComponent;

    protected override void OnInitialized()
    {
        _inventoryComponent = new InventoryDisplay();
        _shopComponent = new ShopDisplay();
    }
    
    private void Callback()
    {
        _inventoryComponent?.Refresh();
        _shopComponent?.Refresh();
        base.InvokeAsync(StateHasChanged);
        Logger.LogInformation("ShopPage Callback invoked");
    }
}