@page "/Character/HeroCreator"

@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

<h3>Hero Creator</h3>

<div>
        <table class="table table-bordered table-sm">
        <tr>
            <td>Name</td>
            <td>INPUT</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Job</td>
            <td>INPUT</td>
            <td>DESCRIPTION</td>
            <td>STATS</td>
        </tr>

        <tr>
            <td>Implant</td>
            <td>INPUT</td>
            <td>DESCRIPTION</td>
            <td>STATS</td>
        </tr>
    </table>
</div>

@code {

}
