@page "/Character/HeroCreator"

@using ProjectPioneer.Systems.Character
@using ProjectPioneer.Systems.Statistics;

@inject ProjectPioneer.Systems.IGame ProjectPioneerGame

<h3>Hero Creator</h3>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Info</th>
                <th>Input</th>
                <th>Description</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>INPUT</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Job</td>
                <td>
                    @foreach(var job in ProjectPioneerGame.GetAllJobs())
                    {
                        <button class="btn btn-primary" @onclick="@(_ => SetDisplayedJob(job))">
                            @job.Name
                        </button>
                        <br />
                    }
                </td>
                <td>@selectedJob.Description</td>
                <td>
                    @foreach (var stat in selectedJob.Stats.GetStatsAsList())
                    {
                        @stat
                        <br />
                    }
                </td>
            </tr>

            <tr>
                <td>Implant</td>
                <td>INPUT</td>
                <td>DESCRIPTION</td>
                <td>STATS</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    string selectedName;
    IJob selectedJob;
    IImplant selectedImplant;

    protected override void OnInitialized()
    {
        selectedJob = ProjectPioneerGame.GetAllJobs().First();
    }

    private void SetDisplayedJob(IJob job)
    {
        selectedJob = job;
    }

    //style="background-color:blue; color:white;"
}
